body {
    background-color:#feed00;
    text-align: center;
}
.text {
    color: #0c0c06;
}
#titlecard-title {
    font-size:60px;
    margin: 10px;
}
#titlecard-subheading {
    margin: 10px;
    font-size:35px;
}
#titlecard-paragraph {
    font-size:20px;
}
.articletitle {
    font-size:35px;
    margin-bottom:10px;
}
.titlecard {
    background-color:#dfa921;
    margin:20px auto;
    width: 900px;
    height:250px;
}
.article {
    width:450px;
    height: 550px;
    border:2px solid #0c0c06;
    
}
.articlebox {
    margin:20px auto;
    width:900px;
    height: 1500px;
    background-color:#f3e277;
    padding: 5%;
    
}
.article-cover {
    width:225px;
}