body {
    background-color:#feed00;
    text-align: center;
}
.text {
    color: #0c0c06;
}
#mainheading {
    font-size:65px;
    margin: 10px;
}
#subheading {
    margin: 10px;
    font-size:40px;
}
#explanation {
    font-size:25px;
}
.articletitle {
    font-size:50px;
}
.mainthing {
    margin:20px auto;
    width:60vw;
    height: 80vh;
    background-color:#dca927
}