body {
    background-color:#feed00;
    text-align: center;
}
.text {
    color: #0c0c06;
}
#titlecard-title {
    font-size:60px;
    margin: 10px;
}
#titlecard-subheading {
    margin: 10px;
    font-size:35px;
}
#titlecard-paragraph {
    font-size:20px;
}
.articletitle {
    font-size:35px;
    padding-top
}
.titlecard {
    background-color:#f3e277;
    margin:20px auto;
    width: 60vw;
    height:20vh;
}
.article {
    width:500px;
    height: 550px;
    border:2px solid #0c0c06;
    
}
.articlebox {
    margin:20px auto;
    width:60vw;
    height: 1500px;
    background-color:#dca927;
    padding: 5%;
    
}